.ForgotPasswordContainer{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(231,231,231);
    position: fixed;
    top: 0%;
    left: 0;
}

.ForgotPasswordBox{
    background-color: white;
    width: 25vw;
    height: 55vh;
    box-sizing: border-box;
    overflow: hidden;
}

.ForgotPasswordHeading{
    text-align: center;
    color: rgba(0,0,0,0.673);
    font: 400 2vmax Roboto;
    padding: 1.3vmax;
    border-bottom: 2px solid rgba(0,0,0,0.267);
    width: 70%;
    margin: auto;
}

.ForgotPasswordBox>div>button{
    background-color: tomato;
    height: 3px;
    width: 50%;
    border: none;
    transition: all 0.5s;
}

.ForgotPasswordForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    padding: 2vmax;
    height: 70%;
    transition: all 0.5s;
}


.ForgotPasswordForm>div{
    display: flex;
    align-items: center;
    width: 100%;
}

.ForgotPasswordForm>div>input{
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    font: 300 0.9vmax cursive;
    border: 1px solid rgba(0,0,0,0.267);
    border-radius: 4px;
}

.ForgotPasswordForm>div>svg{
    position: absolute;
    transform: translateX(1vmax);
    font: 1.6vmax;
    color: rgba(0,0,0,0.678);
}


.ForgotPasswordBtn{
    border: none;
    background-color: tomato;
    color: white;
    width: 100%;
    font: 300 1.1vmax 'Roboto';
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline:none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.267);
}


.ForgotPasswordBtn:hover{
    background-color: rgb(231, 11, 11);
}


@media screen and (max-width:600px) {
    .ForgotProfileContainer{
        background-color: white;
    }

    .ForgotProfileBox{
        width: 100vw;
        height: 95vh;
    }

    .ForgotProfileForm{
        padding: 5vmax;
    }

    .ForgotProfileForm>div>input{
        padding: 2.5vmax 5vmax;
        font: 300 1.8vmax cursive; 
    }

    .ForgotProfileForm>div>input>svg{
        font-size: 2.8vmax;
    }

   .ForgotProfileBtn{
        font: 500 2.5vmax 'Roboto';
        padding: 1.8vmax;
    }

    #ForgotProfileImage>img{
        width: 8vmax;
    }

}
